.cantainer{
    width: 600px;
    height: 300px;
    background-color:black;
    display: grid;
    grid-template-rows: 50px 50px 50px ;
    grid-template-columns: 100px 100px 100px ;
    row-gap: 10px ;
    column-gap: 10px;
    grid-gap: 20px 20px ;
    
}
.item{
    width: 100px;
    height: 50px;
    background-color:greenyellow;
    border: 2px solid;
    text-align: center;
}
